<style>
    button#submit{
        display: block;
        background-color: #00B392;
        color: #fff;
        width: 50%;
        margin: 0 auto;
    }
</style>
<form method="post" action="">
    <div class="mb-3" style="width: 100%">
     <label for="password" class="form-label">Parolni kiriting: </label>
    <input type="text" class="form-control" id="password" name="password">
    </div>
    <div class="mb-3" style="width: 100%">
        <button id="submit" class="btn"  type="submit">Yuborish</button>
    </div>
</form>