<nav >
    <div class="links">
    <li><a href="/">Bosh sahifa</a></li>
    <li><a href="/journals/all">Jurnallar</a></li>
    <li><a href="">Qidiruv</a></li>
    <li><a href="">Aloqa</a></li>
    </div>
    <img src="{{url}}/images/rt-perfect 1.png" alt="">
</nav>