<nav >
    <a href="{{url}}"><img src="{{url}}/images/rt-perfect 1.png" alt=""></a>
    <div class="links">
    <li><a href="/">Bosh sahifa</a></li>
    <li><a href="/journals/all">Jurnallar</a></li>
    <li><a href="">Qidiruv</a></li>
    <li><a href="">Aloqa</a></li>
    </div>
</nav>