<div class="card">
    <div>
        <h2>Perfect universitetining ilm fanga bag'ishlangan jurnlai</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos expedita modi, quia dolore saepe mollitia, veritatis, totam excepturi eaque iusto perspiciatis iure amet voluptas facere fugit! Autem adipisci sapiente sint quia accusantium voluptatem, nisi hic corporis, quae quam alias, expedita porro nulla nihil voluptate eveniet ex id doloremque nobis tenetur!
        </p>
    </div>
    <div>
        <img src="https://storage.kun.uz/source/9/k7DhbqNDK_oMsyzoFj1Wxv-y-q5auzng.jpg" alt="">
    </div>
</div>
<div class="card">
    <div>
        <img src="https://storage.kun.uz/source/9/k7DhbqNDK_oMsyzoFj1Wxv-y-q5auzng.jpg" alt="">
    </div>
    <div>
        <h2>Perfect Science journal</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos expedita modi, quia dolore saepe mollitia, veritatis, totam excepturi eaque iusto perspiciatis iure amet voluptas facere fugit! Autem adipisci sapiente sint quia accusantium voluptatem, nisi hic corporis, quae quam alias, expedita porro nulla nihil voluptate eveniet ex id doloremque nobis tenetur!
        </p>
    </div>
    
</div>