<style>
    iframe{
        margin: 0 auto;
        width: 50%;
        height: 90vh;
    }
</style>
<div class="card">
    <div>
        <img src="{{url}}/images/ustki.png" alt="">
    </div>
    <div>
        <h2>Perfect universitetining ilm fanga bag'ishlangan jurnlai</h2>
        <p>
            Ilmiy jurnal barcha oliy taʼlim va ilmiy tashkilotlarda amalga oshirilayotgan, ilmiy-texnikaviy ahamiyatga ega boʻlgan fundamental, amaliy va innovatsion tadqiqotlar, xususan, oliy taʼlimda raqamli texnologiyalarni keng qoʻllash, ilmiy tadqiqotlarni olib borishda sunʼiy intelekt imkoniyatlaridan foydalanish, turizm sohasini yanada rivojlantirishning muhim jihatlari, mamlakatlar iqtisodiyotining yetakchi soha va tarmoqlaridagi muammolar va ularning yechimlari, taʼlimda zamonaviy pedogogik texnologiyalarni qoʻllash, psixologik treninglarni olib borish usullari, rivojlangan mamlakatlarni tarixini oʻrganishning oʻziga xos xususiyatlari, ijtimoiy va siyosiy tadqiqotlar kabi dolzarb masalalarni tadqiq etishni oʻz oldiga asosiy maqsad qilib qoʻyadi.
        </p>
        <p>
            Ilmiy jurnalda Raqamli texnologiyalar, Nazariy informatika va fizika, Turizm va rekreatsion geografiya, Ijtimoiy – iqtisodiy rivojlantirishning ustuvor yoʻnalishlari, 
Ijtimoiy-gumanitar fanlar, Pedagogika va psixologiya sohalarida innovatsiyalar hamda Qisqa ilmiy maʼlumotlar boʻlimlari tashkil etilgan.

        </p>
    </div>
    <div>
        <img src="{{url}}/images/orqa.png" alt="">
    </div>
</div>
<div class="card">
    <iframe src='https://online.pubhtml5.com/ioxaa/sgon/'  seamless='seamless' scrolling='no' frameborder='0' allowtransparency='true' allowfullscreen='true' ></iframe>
    
</div>